body {
	font: 400 15px/1.8 Lato, sans-serif;
        color: #777; 
	position: relative; 
  }
  h3 {
    margin: 10px 0 20px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #fff;
  } 
  .container {
    padding: 80px 120px;
  } 
  .container h3,.container p {
	color: #111;
  }
  /*navigation*/
  .navbar{
    font-family: Poppins, sans-serif;
    margin-bottom: 0;
    background-color: rgba(45,45,60,0.7);
    border: 0;
    font-size: 12px;
    letter-spacing: 4px;
    opacity: 0.9; 
  }
  .navbar .navbar-header .navbar-brand {
        font-family: Arimo, sans-serif;
	font-style: italic;
	color: #33bfb0;
	margin-right: 11.25em;
  }
  .navbar-header .navbar-toggle {
    border-color: transparent;
  }
  .navbar-collapse .nav  li a { 
    color: #a6a6a6;
  }
  .navbar-collapse .nav li a:hover {
    color: #fff;
  }
  .navbar-collapse .nav li.active a {
    color: #fff;
    background-color: #202338;
  }
  .form-control {
	background-color: rgba(45,45,48,0.5); 
	border-color: #808080;
        border-radius: 0; 
	color: #d5d5d5;
  }
  .btn {                        /* search button */
	background-color: #2d2d30;  
	border-color: #808080; 
  }
  .input-group-btn .btn:hover {
    background-color: #2d2d30;
  }
  .glyphicon-search {
	color: #808080;  
  }
  .btn:hover .glyphicon-search {
	color: #fff;  
  }
  .carousel-inner img {
    width: 100%; 
    margin: auto;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 px wide */
    }
  }
  .read_more {
	text-align: center;
	float: right;
  }
  .col-sm-9 .form-control {
	background-color: #fff;
	color: #414141; 
  }
  .col-sm-3 .btn {                         /* subscribe button */
	background-color: rgba(45,45,48,0.8);
	border-color: #000;
	color: #fff; 
	border-radius: 0; 
  }
  .col-sm-3 .btn:hover {
	background-color: #2d2d30;
  }
  @media screen and (max-width: 768px) {
	.col-sm-3 {
	  margin-top: 0.666em; /* Indent to button when the screen is less than 768 px wide */ 
	}
  }
  footer {
	padding: 2em;
  }
  footer > p {
	color: #111; 
  }
  .glyphicon-envelope,.glyphicon-phone,.glyphicon-copyright-mark {
	margin-right: 5px;
  }
  
  
